@page "/"
@using Coffeman.Models
@using System.Text.Json
@inject MenuService menuService
@inject IJSRuntime JSRuntime

<!-- Search Input -->
<div class="input-group my-3">
    <input type="text" class="form-control" placeholder="Search...">
    <button class="btn btn-secondary" type="button">
        <img src="Images/Icons/search.svg" />
    </button>
</div>

<!-- Scrollable & Sticky Categories -->
<div class="position-sticky top-0 border-3 py-1 mb-3">
    <div class="d-flex overflow-auto categories-scroll">
        @foreach (var category in Categories)
        {
            <button class="btn btn-outline-success me-2 rounded-pill" @onclick="() => ScrollToCategory(category.Id)">
                <img src="@category.ImageUrl" /> @category.Name
            </button>
        }
    </div>
</div>


<!-- Items -->
@foreach (var category in Categories)
{
    <div id="@category.Id" class="px-2">
        <h5 class="font-semibold">@category.Name</h5>
        <div class="row">
            @foreach (var item in category.MenuItems)
            {
                <div class="col-4 mb-3">
                    <div class="card shadow-sm">
                        <img src="@item.ImageUrl" class="card-img-top">
                        <div class="card-body p-2">
                            <h6 class="card-title text-center">@item.Name</h6>
                            <div class="text-secondary text-center">@item.Price</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    private Category[] Categories = Array.Empty<Category>();

    protected override async Task OnInitializedAsync()
    {
        Categories = await menuService.GetCategoriesAsync();
    }

    private async Task ScrollToCategory(string categoryId)
    {
        await JSRuntime.InvokeVoidAsync("scrollIntoViewById", categoryId);
    }
}
